// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

@import "~vuetify/src/styles/settings/colors";

$material-light: (
  background: map-get($grey, "lighten-5"),
);

@import "~vuetify/src/styles/styles.sass";

$primary: #006a1d;
$primary-darken: #114418;
$primary-highlight: #00a257;
$primary-caption: rgba($primary, 0.6);
$primary-lighten: rgba($primary-highlight, 0.1);
$shadow: #dae0e5;

$site-colors: (
  primary: $primary,
  primary-darken: $primary-darken,
  primary-highlight: $primary-highlight,
  primary-caption: $primary-caption,
  primary-lighten: $primary-lighten,
  shadow: $shadow,
);

$theme-light-primary-color: $primary-highlight;
$theme-light-secondary-color: $primary-darken;
$error-color: #ff5252;
$warning-color: #ffc107;
