{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json",
    "allowImportExportEverywhere": false,
    "codeFrame": false,
    "ecmaVersion": 2020,
    "ecmaFeatures": { "jsx": true }
  },
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:jest/recommended",
    "prettier",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "plugins": ["react", "@typescript-eslint", "jest", "import"],
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "typescript": {
        "alwaysTryTypes": false
      }
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "global-require": ["off"],
    "spaced-comment": ["off"],
    "no-underscore-dangle": ["off"],
    "object-shorthand": ["off"],
    "no-alert": ["off"],
    "default-case": "off",
    "prefer-promise-reject-errors": ["off"],
    "react/prefer-stateless-function": ["off"],
    "react/state-in-constructor": ["off"],
    "react/no-access-state-in-setstate": ["off"],
    "react/prop-types": ["off"],
    "react/sort-comp": ["off"],
    "no-return-assign": ["off"],
    "no-unused-vars": "off",
    "no-debugger": "warn",
    "linebreak-style": "off",
    "prettier/prettier": "off",
    "@typescript-eslint/explicit-module-boundary-types": ["off"],
    "@typescript-eslint/lines-between-class-members": ["off"],
    "@typescript-eslint/no-var-requires": ["off"],
    "import/no-mutable-exports": ["off"],
    "import/prefer-default-export": ["off"],
    "import/export": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "react/static-property-placement": ["error", "static public field"],
    "lines-between-class-members": "off",
    "class-methods-use-this": "off",
    "react/require-default-props": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "react/no-array-index-key": "off",
    "@typescript-eslint/no-unused-expressions": "off",
    "no-plusplus": "off",
    "prefer-destructuring": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-console": "off",
    "import/no-named-as-default-member": "off",
    "import/no-named-as-default": "off",
    "@typescript-eslint/no-empty-interface": "off"
  }
}
